*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

#title{
	background-color: #06f;
	padding: 60px 0px;
	width: 100%;
	text-align: center;
	font-size: 42px;
	color: #fff;
}

.content{
	text-align: center;
}

.intro{
	padding: 20px 0px;
	line-height: 40px;
	font-size: 20px;
}

.tip{
	color: #bbb;	
}

#goback {
	display: block;
	text-align: center;
	margin: 30px auto 10px;
	border: 1px solid #ddd;
	background-color: transparent;
	height: 40px;
	line-height: 40px;
	width: 200px;
	border-radius: 10px;
	color: #222;
}

#goback:link{
	text-decoration:none;
}
#goback:hover{
	text-decoration:none;
	border: 1px solid #888;
}
#goback:active{
	text-decoration:none;
}