#title{
	margin: 120px auto 40px;
	text-align: center;
	font-size: 30px;
	font-family: "微软雅黑";
}

#list {
	width: 100%;
	text-align: center;
}

a {
	display: block;
	text-align: center;
	margin: 10px auto;
	border: 1px solid #ddd;
	background-color: transparent;
	height: 40px;
	line-height: 40px;
	width: 200px;
	border-radius: 10px;
	
	font-family: "微软雅黑";
}

a:link{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	border: 1px solid #888;
}
a:active{
	text-decoration:none;
	color: #222;
}
